<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>968670117648-2de37hs5ce1fdot4nqulq7hn49rd63li.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.968670117648-2de37hs5ce1fdot4nqulq7hn49rd63li</string>
	<key>API_KEY</key>
	<string>AIzaSyCCLBL_7RUQnCnTXP61RjZdPEngrkMvfDA</string>
	<key>GCM_SENDER_ID</key>
	<string>968670117648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MuratMerekov.Family</string>
	<key>PROJECT_ID</key>
	<string>fam-social-808</string>
	<key>STORAGE_BUCKET</key>
	<string>fam-social-808.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:968670117648:ios:a68a88980dbbfef935af95</string>
	<key>DATABASE_URL</key>
	<string>https://fam-social-808.firebaseio.com</string>
</dict>
</plist>